<div class="w-10/12 mx-auto h-full mt-5 py-10" #topPage>
    <mat-card class="w-full h-full">
        <mat-card-header>
            <mat-card-title>
                Add Investment Packages
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="Package">
                <mat-form-field appearance="outline" class="md:w-10/12 w-11/12">
                    <mat-label>Investment Type</mat-label>
                    <mat-select formControlName="InvestmentType">
                        <mat-option value="Agro">Agro</mat-option>
                        <mat-option value="Crypto">Crypto</mat-option>
                        <mat-option value="Real Estate">Real Estate</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="md:w-10/12 w-11/12">
                    <mat-label>package Types</mat-label>
                    <input matInput formControlName="packageTypes">
                </mat-form-field>

                <mat-form-field appearance="outline" class="md:w-10/12 w-11/12">
                    <mat-label>Percentages</mat-label>
                    <input matInput type="number" formControlName="percentages">
                </mat-form-field>


                <mat-form-field appearance="outline" class="md:w-10/12 w-11/12">
                    <mat-label>Duration</mat-label>
                    <mat-select formControlName="duration">
                        <mat-option value="days">Daily</mat-option>
                        <mat-option value="weeks">Weekly</mat-option>
                        <mat-option value="months">Monthly</mat-option>
                        <mat-option value="years">Yearly</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="md:w-10/12 w-11/12">
                    <mat-label>Min. Value</mat-label>
                    <input matInput type="number" formControlName="minValue">
                </mat-form-field>

                <mat-form-field appearance="outline" class="md:w-10/12 w-11/12">
                    <mat-label>max. Value</mat-label>
                    <input matInput type="number" formControlName="maxValue">
                </mat-form-field>

                <mat-form-field appearance="outline" class="md:w-10/12 w-11/12">
                    <mat-label>ref. Bonus Percentage</mat-label>
                    <input matInput type="number" formControlName="refBonus">
                </mat-form-field>
            </form>
        </mat-card-content>

        <mat-card-footer>
            <div class="w-1/2 mx-auto md:w-1/4" *ngIf="spinning">
                <mat-spinner></mat-spinner>
            </div>

            <div class="md:w-1/2 mx-auto w-10/12" *ngIf="!spinning">
                <button *ngIf="!update" mat-raised-button color="primary" class="w-full"
                    (click)="addPackage()">Add</button>
                <button *ngIf="update"
                    class="bg-transparent border border-solid border-blue-500 bg-yellow-600 text-white active:bg-blue-600 font-bold uppercase text-xs px-4 w-full py-2 rounded outline-none text-center focus:outline-none mr-1 mb-1"
                    type="button" style="transition: all .15s ease" (click)="udatePackage()">
                    Update
                </button>
            </div>
            <div class="pb-10"></div>
        </mat-card-footer>
    </mat-card>
    <div class="pb-20"></div>


    <div class="text-3xl text-gray-700 text-center border-b-2 border-solid border-gray-800">
        Current Packages
    </div>

    <mat-tab-group>
        <mat-tab label="Crypto">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
                <div class="rounded-md shadow-lg mt-10 bg-indigo-100 px-5"
                    *ngFor="let package of packages; let i = index">

                    <span *ngIf="package.InvestmentType === 'Crypto'">
                        <div class="font-bold text-2xl p-5 text-center">
                            {{package.InvestmentType}}
                        </div>

                        <div class="font-bold text-2xl p-5 text-center">
                            {{package.packageTypes}} package
                        </div>


                        <div class="font-bold pl-5 pb-2">{{package.percentages}}%
                            {{package.duration}}</div>
                        <ul class="pl-5">
                            <li>
                                <mat-icon color="primary">done</mat-icon> Max. Investment: ${{package.maxValue}}
                            </li>
                            <li>
                                <mat-icon color="primary">done</mat-icon> Min Investment:${{package.minValue}}
                            </li>
                            <li>
                                <mat-icon color="primary">done</mat-icon> {{package.refBonus}}% Referral Bonus
                            </li>
                            <li>
                                <mat-icon color="primary">done</mat-icon> 24/7 Customer Care
                            </li>
                        </ul>
                        <div class="w-full rounded-mdn mt-20">
                            <button
                                class="bg-transparent border border-solid border-blue-500 bg-yellow-600 text-white active:bg-blue-600 font-bold uppercase text-xs px-4 w-full py-2 rounded outline-none text-center focus:outline-none mr-1 mb-1"
                                type="button" style="transition: all .15s ease" (click)="editPackage(i)">
                                Edit
                            </button>

                            <button
                                class="bg-transparent border border-solid border-blue-500 bg-red-700 text-white active:bg-blue-600 font-bold uppercase text-xs px-4 w-full py-2 rounded outline-none text-center focus:outline-none mr-1 mb-1"
                                type="button" style="transition: all .15s ease" (click)="deletePackage(package._id)">
                                Delete
                            </button>
                        </div>
                    </span>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Real Estate">
            <div class="grid grid-cols-1 md:grid-cols-3 md:gap-5">
                <div class="rounded-md shadow-lg mt-2 bg-indigo-100 px-5"
                    *ngFor="let package of packages; let i = index">
                    <span *ngIf="package.InvestmentType === 'Real Estate'">
                        <div class="font-bold text-2xl p-5 text-center">
                            {{package.packageTypes}} package
                        </div>


                        <div class="font-bold pl-5 pb-2">{{package.percentages}}%
                            {{package.duration}}</div>
                        <ul class="pl-5">
                            <li>
                                <mat-icon color="primary">done</mat-icon> Max. Investment: ${{package.maxValue}}
                            </li>
                            <li>
                                <mat-icon color="primary">done</mat-icon> Min Investment:${{package.minValue}}
                            </li>
                            <li>
                                <mat-icon color="primary">done</mat-icon> {{package.refBonus}}% Referral Bonus
                            </li>
                            <li>
                                <mat-icon color="primary">done</mat-icon> 24/7 Customer Care
                            </li>
                        </ul>
                        <div class="w-full rounded-mdn mt-20">
                            <button
                                class="bg-transparent border border-solid border-blue-500 bg-yellow-600 text-white active:bg-blue-600 font-bold uppercase text-xs px-4 w-full py-2 rounded outline-none text-center focus:outline-none mr-1 mb-1"
                                type="button" style="transition: all .15s ease" (click)="editPackage(i)">
                                Edit
                            </button>

                            <button
                                class="bg-transparent border border-solid border-blue-500 bg-red-700 text-white active:bg-blue-600 font-bold uppercase text-xs px-4 w-full py-2 rounded outline-none text-center focus:outline-none mr-1 mb-1"
                                type="button" style="transition: all .15s ease" (click)="deletePackage(package._id)">
                                Delete
                            </button>
                        </div>
                    </span>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Agro">
            <div class="grid grid-cols-1 md:grid-cols-3 md:gap-5">
                <div class="rounded-md shadow-lg mt-2 bg-indigo-100 px-5"
                    *ngFor="let package of packages; let i = index">
                    <span *ngIf="package.InvestmentType === 'Agro'">
                        <div class="font-bold text-2xl p-5 text-center">
                            {{package.packageTypes}} package
                        </div>


                        <div class="font-bold pl-5 pb-2">{{package.percentages}}%
                            {{package.duration}}</div>
                        <ul class="pl-5">
                            <li>
                                <mat-icon color="primary">done</mat-icon> Max. Investment: ${{package.maxValue}}
                            </li>
                            <li>
                                <mat-icon color="primary">done</mat-icon> Min Investment:${{package.minValue}}
                            </li>
                            <li>
                                <mat-icon color="primary">done</mat-icon> {{package.refBonus}}% Referral Bonus
                            </li>
                            <li>
                                <mat-icon color="primary">done</mat-icon> 24/7 Customer Care
                            </li>
                        </ul>
                        <div class="w-full rounded-mdn mt-20">
                            <button
                                class="bg-transparent border border-solid border-blue-500 bg-yellow-600 text-white active:bg-blue-600 font-bold uppercase text-xs px-4 w-full py-2 rounded outline-none text-center focus:outline-none mr-1 mb-1"
                                type="button" style="transition: all .15s ease" (click)="editPackage(i)">
                                Edit
                            </button>

                            <button
                                class="bg-transparent border border-solid border-blue-500 bg-red-700 text-white active:bg-blue-600 font-bold uppercase text-xs px-4 w-full py-2 rounded outline-none text-center focus:outline-none mr-1 mb-1"
                                type="button" style="transition: all .15s ease" (click)="deletePackage(package._id)">
                                Delete
                            </button>
                        </div>
                    </span>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>