<app-menu [sendRef]="menuref"></app-menu>

<div class="bg-white">
    <div class="py-10" #menuref></div>
    <!-- <app-timeline></app-timeline> -->



    <div class="md:text-3xl text-xl pb-20 font-bold capitalize md:w-4/5 px-4 mx-auto py-10 md:text-center text-left">
        READ THESE TERMS AND CONDITIONS ("TERMS") CAREFULLY BEFORE USING THE SERVICES DESCRIBED HEREIN. BY UTILIZING THE
        WEBSITE LOCATED AT <a href="https://financeforte.org">https://financeforte.org,</a> YOU ACKNOWLEDGE THAT YOU
        HAVE READ THESE TERMS AND CONDITIONS AND
        THAT YOU AGREE TO BE BOUND BY THEM. IF YOU DO NOT AGREE TO ALL OF THE TERMS AND CONDITIONS OF THIS AGREEMENT,
        YOU ARE NOT AN AUTHORIZED USER OF THESE SERVICES AND YOU SHOULD NOT USE THIS WEBSITE.
        FORTARIUM RESERVES THE RIGHT TO CHANGE, MODIFY, ADD OR REMOVE PORTIONS OF THESE TERMS AT ANY TIME FOR ANY
        REASON. WE SUGGEST THAT YOU REVIEW THESE TERMS PERIODICALLY FOR CHANGES. SUCH CHANGES SHALL BE EFFECTIVE
        IMMEDIATELY UPON POSTING. YOU ACKNOWLEDGE THAT BY ACCESSING OUR WEBSITE AFTER WE HAVE POSTED CHANGES TO THESE
        TERMS, YOU ARE AGREEING TO THESE TERMS AS MODIFIED.
    </div>


    <div class="py-10 md:px-5 px-2">
        <p class="font-bold pt-2">
            Disclaimer
        </p>
        <br>
        Nothing contained on this Website constitutes tax, accounting, regulatory, legal, insurance or investment
        advice. Neither the information, nor any opinion, contained on this Website constitutes a solicitation or offer
        by Fortarium, Inc. ("Fortarium") or its affiliates to buy or sell any securities, futures, options or
        other financial instruments, nor shall any such security be offered or sold to any person in any jurisdiction in
        which such offer, solicitation, purchase, or sale would be unlawful under the securities laws of such
        jurisdiction. Decisions based on information contained on this Website are the sole responsibility of the
        visitor. In exchange for using this Website, the visitor agrees to indemnify and hold Fortarium, its
        officers, directors, employees, affiliates, agents, licensors and suppliers harmless against any and all claims,
        losses, liability, costs and expenses (including but not limited to attorneys' fees) arising from your use of
        this Website, from your violation of these Terms or from any decisions that the visitor makes based on such
        information.
        <br>
        The investments and strategies discussed in the Website may not be suitable for all investors and are not
        obligations of Fortarium or its affiliates or guaranteed by Fortarium or its affiliates. Fortarium
        makes no representations that the contents are appropriate for use in all locations, or that the transactions,
        securities, products, instruments, or services discussed on this site are available or appropriate for sale or
        use in all jurisdictions or countries, or by all investors or counterparties. By making available information on
        the Website, Fortarium does not represent that any investment vehicle is available or suitable for any
        particular user. All persons and entities accessing the Web Site do so on their own initiative and are
        responsible for compliance with applicable local laws and regulations.
        <br>
        All investments involve risk and may lose value. The value of your investment can go down depending upon market
        conditions. Fixed income investments are subject to risk including interest rate, credit, market and issuer
        risk. Currency exchange rates may cause the value of an investment to go up or down. Alternative strategies
        involve higher risks than traditional investments, may not be tax efficient, and have higher fees than
        traditional investments; they may also be highly leveraged and engage in speculative investment techniques,
        which can magnify the potential for investment loss or gain. BEFORE ACQUIRING THE SHARES OF ANY INVESTMENT FUND
        BY PURCHASE OR EXCHANGE, IT IS YOUR RESPONSIBILITY TO READ THE FUND'S PROSPECTUS OR OFFERING MATERIALS.
        This Website is for information purposes only and is not intended to be relied upon as a forecast, research or
        investment advice. The information on this Website does not constitute a recommendation, offer or solicitation
        to buy or sell any securities or to adopt any investment strategy. Although this material is based upon
        information that Fortarium considers reliable and endeavors to keep current, Fortarium does not assure
        that this material is accurate, current or complete, and it should not be relied upon as such. Any opinions
        expressed on this Website may change as subsequent conditions vary. Past performance is no guarantee of future
        results.
        <br>
        The information and services provided on this Website are provided "AS IS" and without warranties of any kind,
        either expressed or implied. To the fullest extent permissible pursuant to applicable law, Fortarium
        disclaims all warranties, including, but not limited to, any warranty of non-infringement of third-party rights
        and any implied warranties of merchantability and fitness for a particular purpose. Fortarium does not
        warrant, either expressly or impliedly, the accuracy or completeness of the information, text, graphics, links
        or other items contained on this Website and does not warrant that the functions contained in this Website will
        be uninterrupted or error-free, that defects will be corrected, or that the Website will be free of viruses or
        other harmful components. Fortarium expressly disclaims all liability for errors and omissions in the
        materials on this Website and for the use or interpretation by others of information contained on the Website.
        <br>

        <p class="font-bold pt-2">Fund and Advisor Disclosures</p>
        Investments in a Fortarium product or client account are not bank deposits and are not insured or guaranteed
        by Fortarium or the Federal Deposit Insurance Corporation, any other government agency or any bank. Although
        a money market fund seeks to preserve the value of your investment at $1.00 per share, it is possible to lose
        money by investing in the fund. Please carefully consider a fund's investment objective, risks, charges and
        expenses before investing. For this and other information, call or write to Fortarium for a free prospectus
        or view one online. Read it carefully before you invest or send money.
        <br>
        <p class="font-bold pt-1"> SEC Materials </p>
        Certain information provided through this Website has been filed with the Securities and Exchange Commission
        ("SEC") (such materials being referred to as "SEC Materials"). The SEC Materials and other public disclosures
        contained on this Website contain forward-looking statements within the meaning of the Private Securities
        Litigation Reform Act, with respect to Fortarium's future financial or business performance, strategies or
        expectations. Forward-looking statements are typically identified by words or phrases such as "trend,"
        "potential," "opportunity," "pipeline," "believe," "comfortable," "expect," "anticipate," "current,"
        "intention," "estimate," "position," "assume," "outlook," "continue," "remain," "maintain," "sustain," "seek,"
        "achieve," and similar expressions, or future or conditional verbs such as "will," "would," "should," "could,"
        "may" or similar expressions.
        <br>
        In addition to risk factors previously disclosed in SEC Materials and those identified elsewhere in this
        Website, the following factors, among others, could cause actual results to differ materially from
        forward-looking statements or historical performance:
        <br>
        <ul class="md:pl-10 pl-2">
            <li>
                (1) The introduction, withdrawal, success and timing of business initiatives and strategies;
            </li>

            <li>
                (2) changes and volatility in political, economic or industry conditions, the interest rate environment,
                foreign exchange rates or financial and capital markets, which could result in
                changes in demand for products or services or in the value of assets under management;
            </li>

            <li>
                (3) the relative and
                absolute investment performance of Fortarium's investment products;
            </li>

            <li>
                (4) the impact of increased competition;
            </li>

            <li>
                (5) the impact of future acquisitions or divestitures;
            </li>

            <li>
                (6) the unfavorable resolution of legal proceedings;
            </li>

            <li>
                (7) the extent and timing of any share repurchases;
            </li>

            <li>
                (8) the impact, extent and timing of technological changes and the adequacy of intellectual property and
                information security protection;
            </li>

            <li>
                (9) the impact of legislative and
                regulatory actions and reforms, including the Dodd-Frank Wall Street Reform and Consumer Protection Act,
                and
                regulatory, supervisory or enforcement actions of government agencies relating to Fortarium or The
                PNC
                Financial Services Group, Inc.;
            </li>

            <li>
                (10) terrorist activities, international hostilities and natural disasters,
                which may adversely affect the general economy, domestic and local financial and capital markets,
                specific
                industries or Fortarium;
            </li>

            <li>
                (11) the ability to attract and retain highly talented professionals;
            </li>

            <li>
                (12)
                fluctuations in the carrying value of Fortarium's economic investments;
            </li>

            <li>
                (13) the impact of changes to tax
                legislation, including income, payroll and transaction taxes, and taxation on products or transactions,
                which
                could affect the value proposition to clients and, generally, the tax position of the Company;

            </li>
            <li>
                (14) Finance
                Forte's success in maintaining the distribution of its products;

            </li>

            <li>
                (15) the impact of Fortarium electing to
                provide support to its products from time to time and any potential liabilities related to securities
                lending or
                other indemnification obligations; and
            </li>
            <li>
                (16) the impact of problems at other financial institutions or the
                failure or negative performance of products at other financial institutions.
            </li>
        </ul>


        <br>
        <p class="font-bold pt-2">Trademarks, Copyrights and other Intellectual Property</p>
        The content contained on this Website is owned or licensed by Fortarium and its third-party information
        providers and is protected by applicable copyrights, trademarks, service marks, and/or other intellectual
        property rights. Such content is solely for your personal, non-commercial use. Accordingly, you may not copy,
        distribute, modify, post, frame or deep link this Website, including any text, graphics, video, audio, software
        code, user interface design or logos. You may download material displayed on this Website for your personal use
        provided you also retain all copyright and other proprietary notices contained on the materials. You may not
        distribute, modify, transmit, reuse, repost, or use the content of this Website for public or commercial
        purposes, including all text, images, audio, and video, without Fortarium's written permission. Modification
        or use of the materials for any other purpose violates Fortarium's intellectual property rights.
        All trademarks, service marks, trade names, and logos displayed on this Website are proprietary to Fortarium
        and/or their respective owners. Nothing contained on this Website should be construed as granting, by
        implication, estoppel, or otherwise, any license or right to use any trademark displayed on this Website without
        the written permission of Fortarium or such other third party that may own the trademark displayed on this
        Website. Your use of the trademarks displayed on this Website, except as provided herein, is strictly
        prohibited.
        <br />
        The use of the images displayed on this Website by you, or anyone else authorized by you, is prohibited. Any
        unauthorized use of the images may violate copyright laws, trademark laws, and the laws of privacy and
        publicity, and communications, as well as other regulations and statutes. If you download any information from
        this Website, you agree that you will not copy it or remove or obscure any copyright or other notices or legends
        contained in any such information.

        <p class="font-bold pt-2">Links to Other Websites</p>

        Fortarium may establish links between this Website and one or more websites operated by third parties.
        Fortarium has no control over any such other websites, the contents therein or the products/services
        offered. The existence of any such links shall not constitute an endorsement of, or representation or warranty
        by Fortarium regarding such websites, the contents of the websites, the products or services of the websites
        or the operators of the websites. Your access to and use of such linked websites is governed by the terms of use
        and privacy policies of those sites, and shall be at your own risk. Fortarium disclaims responsibility for
        the privacy policies and customer information practices of third-party internet websites hyperlinked from our
        Website.
        <br>
        <p class="font-bold pt-2">Links to Fortarium from Other Websites</p>
        You shall not display hyperlinks on your websites to any website owned or operated by NexTronce. If you desire
        to display on your website a hyperlink to a Fortarium website, you must enter into a written agreement with
        NexTronce governing such display. Access to any NexTronce website does not authorize you to use any of Finance
        Forte's names, logos, trademarks or copyrighted material, and you agree not to do so without Fortarium
        express written consent. Requests to display hyperlinks on your websites to Fortarium websites should be
        e-mailed to <a mailto="support@financeforte.org">support@financeforte.org</a>
        <br>
        <p class="font-bold pt-1">
            Limitation of Liability
        </p>
        FORTARIUM AND ITS AFFILIATES AND THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES OR AGENTS WILL NOT BE
        LIABLE TO YOU OR ANYONE ELSE FOR ANY DAMAGES OF ANY KIND, INCLUDING, BUT NOT LIMITED TO, DIRECT, CONSEQUENTIAL,
        INCIDENTAL, SPECIAL OR INDIRECT DAMAGES (INCLUDING BUT NOT LIMITED TO LOST PROFITS, TRADING LOSSES OR DAMAGES
        THAT RESULT FROM USE OR LOSS OF USE OF THIS WEBSITE), EVEN IF NexTronce HAS BEEN ADVISED OF THE POSSIBILITY OF
        SUCH DAMAGES OR LOSSES, INCLUDING, WITHOUT LIMITATION, FROM THE USE OR ATTEMPTED USE OF THIS WEBSITE OR ANOTHER
        LINKED WEBSITE.
        IF YOU LIVE IN A STATE THAT DOES NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY OR INCIDENTAL OR
        CONSEQUENTIAL DAMAGES, OR IF YOU ACCESS THE WEBSITE SOLELY THROUGH AN ARRANGEMENT WITH YOUR EMPLOYER OR PLAN
        SPONSOR, SOME OR ALL OF THESE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU.
        We're delivering the best customer experience!
    </div>
</div>
<app-footer></app-footer>