.responsive-table {
    overflow-x: auto;
  
  }
  
  
  
  table.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    border-radius: 13px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .styled-table thead tr {
    --tw-bg-opacity: 1;
    background-color: rgba(102, 102, 0, var(--tw-bg-opacity));
    color: #ffffff;
    text-align: left;
  }
  
  thead {
    background-size: cover;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
  }
  
  .styled-table tbody tr {
    border-bottom: thin solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    --tw-bg-opacity: 1;
    background-color: rgba(219, 234, 254, var(--tw-bg-opacity));
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
